/* ------ general
-----------------------------------------------*/


#map {
max-width: 100%;
max-height: 720px;
position: relative;
left: 10px;
padding: 0px;
margin: 0px;
float: left;

}
#transform{
-o-transform: scale(0.8, 0.8);
-ms-transform: scale(0.8, 0.8);
-webkit-transform: scale(0.8, 0.8);
-moz-transform: scale(0.8, 0.8);
}



